body{
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

body,html{
    height: 100%;
}

.page{
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1,h2,h3{
    display: block;
}

.content{
    max-width: 920px;
    margin: auto;
    padding: 10px 0 10px 0;
    flex: 1 0 auto;
    width: 100%;
}

.header{
    width: 100%;
    height: 200px;
    text-align: center;
    /*background-image: url(/static/main/logo.png);
    background-size: 350px 200px;
    background-repeat: no-repeat;
    background-position: center;*/
}

.img-logo{
    height: 100%;
    max-width: 100%;
}

.navigation{
    width: 100%;
}

.page-title{
    display: block;
    width: 100%;
}

.navigation > ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-inline-flex;
    display: inline-flex; /*отображает контейнер как строчный элемент*/
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.navigation ul > a{
    display: inline;
    background-color: green;
    padding: 5px 10px 5px 10px;
    flex-grow: 1;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    flex: 1 1 0;
}

.navigation ul > a:first-child{
    margin-left: 0;
    margin-right: 3px;
}

.navigation ul > a:last-child{
    margin-left: 3px;
    margin-right: 0;
}

.navigation ul > a{
    color: white;
    font-size: x-large;
    text-decoration: none;
}

.footer{
    background-color: black;
    color: white;
}

.footer_flex_grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.footer_flex_item{
    min-width: 200px;
    margin: 5px;
    flex: 1 1 0;
}

.footer_flex_item:first-child{
    font-size: x-small;
}

.footer_flex_item > span{
    display: block;
}


.category-flex-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.category-flex-div > a{
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    position: relative;
    margin: 5px;
}

.category-flex-div a > .category-item{
    width: 200px;
    padding: 5px;
    background-color: #eeeeff;
    box-shadow: 0 0 1px #999999;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    overflow: hidden;
}

.category-flex-div > h2{
    width: 100%;
}

.category-item > .category-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
    text-align: center;
    margin-bottom: 10px;
}

.img_category_prev{
    width: 100%;
    height: 100px;
    position: relative;
}

.img_category_prev img{
    height: 100%;
}

.p-info{
    background-color: #ddddff;
    flex: 1 1 auto;
    max-width: 100%;
    padding: 10px;
    text-align: center;
    font-size: x-large;
}

.flex-list{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.flex-item > div{
    display: inline-block;
    background-color: white;
}

.flex-item > .product-item{
    width: 100%;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}

.product-item *{
    margin: 0;
}

.prev-image{
    padding: 20px 0 20px 0;
    flex: 1;
    background-color: white;
    text-align: center;
    max-width: 500px;
    min-width: 250px;
    max-height: 250px;
}

.prev-image > img{
    max-width: 100%;
    height: 100%;
}

.flex-item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 15px;
    background-color: #ccddcc;
}

.flex-item-title{
   width: 100%;
   margin: 5px 5px 0 5px;
}

.flex-item-title > h2{
    display: block;
    text-align: center;
}

.service-description{
    flex: 1;
    max-width: 100%;
    flex-grow: 1;
    margin: 5px;
    padding: 5px;
    min-width: 200px;
}

.contacts-page ul{
    list-style: none;
    padding: 0;
}

.contacts-page ul > li {
  padding-left: 1.3em;
}

.contacts-page ul > li.cnt-email:before {
  content: "\f0e0"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.contacts-page ul > li.cnt-telephone:before {
  content: "\f095"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.contacts-page ul > li.cnt-address:before {
  content: "\f041"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.category{
    width: 100%;
    overflow: hidden;
}

.category-title{
    text-align: center;
    margin: 0;
}

.category-content{
    width: 100%;
    height: 300px;
    position: relative;
}

.category-content *{
    width: 100%;
    height: 100%;
    position: absolute;
}

.category-image{
    width: 100%;
    background-color: black;
}

.category-image img{
    width: 100%;
    height: 120%;
}

.category-description{
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
}

.flex-item .p-info{
    margin: 5px;
}

.flex-item .prev-image{
    margin: 5px;
}