{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if META_DESCRIPTION %}
        <meta name="description" content="{{ META_DESCRIPTION }}"/>
    {% endif %}
    {% if META_KEYWORDS %}
        <meta name="keywords" content="{{ META_KEYWORDS }}"/>
    {% endif %}
    <link rel="stylesheet" href="{% static 'main/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'main/lib/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/common.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="page">
        {% include 'header.html' %}
        {% include 'navigation.html' %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        {% if request.path != '/contacts' %}
            {% include 'footer.html' %}
        {% endif %}
    </div>
    <script type="text/javascript" src="{% static 'main/js/common.js' %}"></script>
</body>
</html>