{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <!--<h1 class="page-title">{{ title }}</h1>-->
    <div class="container contacts-page">
        <div class="row">
            <h2>Контактные данные</h2>
            <ul class="col-md-12 contacts-block">
                <h3>Отдел продаж - Казас Илья Ильич</h3>
                <li class="cnt-email">Электронная почта: info@lesservice.site</li>
                <li class="cnt-telephone">Телефон для связи: +7 (927) 900-26-66</li>
            </ul>
        </div>
        <div class="row">
            <h2>Адрес</h2>
            <ul class="col-md-12 address-block">
                <li class="cnt-address">443443, Самарская область, г.Кинель ул.Юбилейная д.8</li>
            </ul>
        </div>
        <div class="row">
            <h2>Реквизиты</h2>
            <ul>
                <li>ИНН 6350023904 КПП 635001001 ОГРН 1166313132644</li>
                <li>Банк ОАО "Россельхозбанк", г.Самара БИК 043601978</li>
                <li>Корр.Счет 30101810900000000978</li>
            </ul>
        </div>
    </div>
{% endblock %}