<div class="footer">
    <div class="footer_flex_grid">
        <div class="footer_flex_item">
            <span>Реквизиты:</span>
            <span>ИНН 6350023904 КПП 635001001 ОГРН 1166313132644</span>
            <span>Банк ОАО "Россельхозбанк", г.Самара БИК 043601978</span>
            <span>Корр.Счет 30101810900000000978</span>
        </div>
        <div class="footer_flex_item">
            <span>Юридический адрес:</span>
            <span>443443, Самарская область, г.Кинель ул.Юбилейная д.8</span>
        </div>
        <div class="footer_flex_item">
            <span>Email: info@lesservice.site</span>
            <span>+7 (927) 900 26 66</span>
        </div>
    </div>
</div>