{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h2>О компании</h2>
    <p align="justify">В компании «Лессервис» всегда представлен огромный выбор поддонов любых габаритов. Наша основная деятельность – продажа новых и б/у поддонов и их выкуп с тщательной проверкой качества. Поэтому мы не только готовы привезти продукцию на ваш склад, но и вывезти ее с вашей территории, чтобы освободить пространство.</p>
    <div class="production-div">
        <h2>Продукция</h2>
        <div class="category-flex-div">
            {% for category in categoryProduction %}
                <a href="/production#category_{{ category.id }}">
                    <div class="category-item">
                        <span class="category-title">{{ category.name }}</span>
                        <div class="img_category_prev">
                            <img src="/media/{{category.prev_image}}" alt="">
                        </div>
                    </div>
                </a>
            {% empty %}
                <p class="p-info">Продукция временно отсутствует</p>
            {% endfor %}
        </div>
    </div>
    <div class="production-div">
        <h2>Дополнительные услуги</h2>
        <div class="category-flex-div">
            {% for service in services %}
                <a href="/services#service_{{ service.id }}">
                    <div class="category-item">
                        <span class="category-title">{{ service.name }}</span>
                        <div class="img_category_prev">
                            <img src="/media/{{service.prev_image}}" alt="">
                        </div>
                    </div>
                </a>
            {% empty %}
                <p class="p-info">Услуги временно отсутствуют</p>
            {% endfor %}
        </div>
    </div>
    <div class="delivery-div">
        <h2>Доставка</h2>
        <p align="justify">
            Если вдруг у вас нет возможности забрать поддоны, то мы доставим их Вам, в любое удобное для вас время и место. Гибкий график работы подразумевает под собой круглосуточный режим, без перерывов и выходных. Мы в любое время рады Вам помочь.
        </p>
    </div>
{% endblock %}