<div class="navigation">
    <ul>
        <a href="{% url 'index' %}"><li>Главная</li></a>
        <a href="{% url 'production' %}"><li>Продукция</li></a>
        <a href="{% url 'services' %}"><li>Дополнительные услуги</li></a>
        <a href="{% url 'contacts' %}"><li>Контактные данные</li></a>
    </ul>
</div>