{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1 class="page-title">{{ title }}</h1>
    {% for category in  categoryProduction%}
    <ul class="flex-list">
        <li class="flex-item" id="category_{{ category.id }}">
                <div class="flex-item-title">
                    <h2>{{ category.name }}</h2>
                </div>
                {% for product in category.production_set.all %}
                <div class="product-item" id="product_{{ product.id }}">
                    <div class="prev-image">
                        <img src="/media/{{ product.prev_image }}" alt="">
                    </div>
                    <div class="service-description">
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.description|safe|linebreaks }}</p>
                    </div>
                </div>
                {% empty %}
                    <p class="p-info">Продукция временно отсутствует</p>
                {% endfor %}
            </li>
    </ul>
    {% empty %}
        <p class="p-info">Продукция временно отсутствует</p>
    {% endfor %}
{% endblock %}