{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <ul class="flex-list">
        {% for service in services %}
            <li class="flex-item" id="service_{{ service.id }}">
                <div class="flex-item-title">
                    <h2>{{ service.name }}</h2>
                </div>
                <div class="prev-image">
                    <img src="/media/{{ service.prev_image }}" alt="">
                </div>
                <div class="service-description">
                    {{ service.description|safe|linebreaks }}
                </div>
            </li>
        {% empty %}
            <p class="p-info">Продукция временно отсутствует</p>
        {% endfor %}
    </ul>
{% endblock %}